{% extends "layout.html" %}
{% block content %}
<h1>About Page</h1>
<div class="content-container">
A spasm is a sudden involuntary contraction of a muscle, a group of muscles, or a hollow organ, such as the bladder.
<br><br>
A spasmodic muscle contraction may be caused by many medical conditions, including dystonia. Most commonly, it is a muscle cramp which is accompanied by a sudden burst of pain. A muscle cramp is usually harmless and ceases after a few minutes. It is typically caused by ion imbalance or muscle overload.
<br><br>
There are other causes of involuntary muscle contractions, and some of these may cause a health problem.
<br><br>
A series of spasms, or permanent spasms, is referred to as a "spasmism". - <a href="https://en.wikipedia.org/wiki/Spasm">Wikipedia</a>
</div>
{% endblock %}