{% extends "layout.html" %}
{% block content %}
<h1>SPASM for Analysts</h1>
<div class="content-container">
Go to the demo:
<div class="demo-link"><a href="{{ url_for('demo') }}" >&ltDEMO&gt</a></div>
</div>
<div class="content-container">
    Data analysis is the process of inspecting, cleansing, transforming, and modeling data with the goal of discovering useful information, informing conclusions, and supporting decision-making. Data analysis has multiple facets and approaches, encompassing diverse techniques under a variety of names, and is used in different business, science, and social science domains. In today's business world, data analysis plays a role in making decisions more scientific and helping businesses operate more effectively.
    <br><br>
    Data mining is a particular data analysis technique that focuses on statistical modeling and knowledge discovery for predictive rather than purely descriptive purposes, while business intelligence covers data analysis that relies heavily on aggregation, focusing mainly on business information. In statistical applications, data analysis can be divided into descriptive statistics, exploratory data analysis (EDA), and confirmatory data analysis (CDA). EDA focuses on discovering new features in the data while CDA focuses on confirming or falsifying existing hypotheses. Predictive analytics focuses on the application of statistical models for predictive forecasting or classification, while text analytics applies statistical, linguistic, and structural techniques to extract and classify information from textual sources, a species of unstructured data. All of the above are varieties of data analysis.
    <br><br>
    Data integration is a precursor to data analysis, and data analysis is closely linked to data visualization and data dissemination.
    - <a href="https://en.wikipedia.org/wiki/Data_analysis">Wikipedia</a>
</div>
{% endblock %}